<p><%= notice %></p>
<p><%= alert %></p>

<% if current_user %> Has iniciado sesión como
  <strong><%= current_user.username %></strong>!
  <%= link_to 'Log out', session_path, method: :delete %>
<% else %>
  <%= link_to 'Log in', login_path%>
  <%= link_to 'Sign up', new_user_path %>
<% end %>
<%= yield %>

<h1>All the Games</h1>
<%= link_to "New Game", new_game_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <%@games.each do |game| %>
      <tr>
        <td><%= game.name%></td>
        <td><%= game.rating%></td>
        <td>
          <%= link_to "show", game_path(game)%>
          <%= link_to "edit", edit_game_path(game)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
